<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orchard.mapper.GoodMapper">

<!--    <update id="updateGood" parameterType="com.orchard.entity.Goods">-->
<!--        update goods-->
<!--        <set>-->
<!--            <if test="name != null and name != ''">name = #{name},</if>-->
<!--            <if test="remark != null and remark != '' ">remark = #{remark},</if>-->
<!--            <if test="id != null and id != '' ">id = #{id},</if>-->
<!--            <if test="storage != null and storage != ''">storage = #{storage},</if>-->
<!--            <if test="goodsType != null and goodsType != '' ">goodsType = #{goodsType},</if>-->
<!--            <if test="updateTime != null ">update_time = #{updateTime},</if>-->
<!--            <if test="updateUser != null and updateUser != '' ">update_user = #{updateUser},</if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->
    <delete id="goodDelet">
        delete from goods
        <where>
            and id = #{id}
        </where>
    </delete>
    <select id="goodById" resultType="com.orchard.vo.GoodsFixVo">
        SELECT
            g.id, g.name, g.count, g.remark,
            s.name as storage,
            gt.name as goodsType
        FROM goods g
                 LEFT JOIN goodstype gt ON gt.id = g.goodsType
                 LEFT JOIN storage s ON s.id = g.storage
        WHERE g.id = 2;
    </select>
    <select id="goodsPageQusery" resultType="com.orchard.vo.GoodsFixVo">
        SELECT
                g.id,
                g.name,
                s.name as storage,
                gt.name as goodsType,
                create_user.name as createUser,    -- 创建人姓名
                update_user.name as updateUser,     -- 更新人姓名
                g.count,
                g.remark,
                g.create_time,
                g.update_time
        FROM goods g
        LEFT JOIN goodstype gt ON gt.id = g.goodsType
        LEFT JOIN storage s ON s.id = g.storage
        LEFT JOIN user create_user ON create_user.id = g.create_user
        LEFT JOIN user update_user ON update_user.id = g.update_user
        <where>
                <if test="name != null and name != ''">
                    and g.name like concat('%',#{name},'%')
                </if>
                <if test="storage != null and storage != ''">
                    and s.id =  #{storage}
                </if>
                <if test="goodsType != null and goodsType != ''">
                    and gt.id = #{goodsType}
                </if>
        </where>
                order by g.create_time desc
    </select>




</mapper>