<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orchard.mapper.OrchardAreaMapper">
    <insert id="addChardArea">
        insert into orchard_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
        <update id="updateorchardArea" parameterType="com.orchard.entity.OrchardArea">
            update orchard_area
            <set>
                <if test="name != null and name != ''">name = #{name},</if>
                <if test="description != null and description != '' ">description = #{description},</if>
                <if test="updateTime != null ">update_time = #{updateTime},</if>
            </set>
            where id = #{id}
        </update>



    <select id="orcharArea" resultType="com.orchard.entity.OrchardArea">
        select *
        from orchard_area
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="pageAll" resultMap="GoodsResultMap">
        SELECT
            id, name
        FROM tree_info
        ORDER BY create_time DESC
    </select>
    <!-- 定义结果映射 -->
    <resultMap id="GoodsResultMap" type="com.orchard.entity.Goodstype">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
</mapper>