<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orchard.mapper.RecordMapper">
    <insert id="recordAdd">
        insert into record (admin_id,count,goods,remark,userId) values (#{adminId},#{count},#{goods},#{remark},#{userId})
    </insert>

    <select id="page" resultType="com.orchard.vo.RecordPageVo">
        select r.id,g.name as goodsName,s.name as storageName,gs.name as goodstypeName,r.count,r.remark,r.create_time,
               (select u.name from user u where u.id = r.userId) userName,
               (select u.name from user u where u.id = r.admin_id) adminName
        from record r ,goods g,goodsType gs ,storage s
        <where>
            r.goods = g.id
            and g.storage = s.id
            and g.goodsType = gs.id
            <if test="name != null and name != ''">
                and g.name like concat('%',#{name},'%')
            </if>
            <if test="goodsType != null and goodsType != ''">
                and gs.id =  #{goodsType}
            </if>
            <if test="storage != null and storage != ''">
                and s.id = #{storage}
            </if>
        </where>
    </select>
    <select id="recordByTime" resultType="com.orchard.vo.RecordExcelVo">
        SELECT
        g.name as goodsName,
        s.name as storageName,
        gs.name as goodstypeName,
        r.count,
        r.remark,
        r.create_time as createTime,
        (SELECT u.name FROM user u WHERE u.id = r.userId) as userName,
        (SELECT u.name FROM user u WHERE u.id = r.admin_id) as adminName
        FROM record r
        JOIN goods g ON r.goods = g.id
        JOIN goodsType gs ON g.goodsType = gs.id
        JOIN storage s ON g.storage = s.id
    </select>

</mapper>