<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orchard.mapper.StorageMapper">
    <update id="updateStorage" parameterType="com.orchard.entity.Storage">
        update storage
       <set>
           <if test="name != null and name != ''">name = #{name},</if>
           <if test="remark != null and remark != '' ">remark = #{remark},</if>
           <if test="updateTime != null ">update_time = #{updateTime},</if>
           <if test="updateUser != null and updateUser != '' ">update_user = #{updateUser},</if>
       </set>
      where id = #{id}
    </update>
    <delete id="stroageDelet">
        delete from storage
        <where>
            and id = #{id}
        </where>
    </delete>

    <select id="storagePageQuery" resultType="com.orchard.entity.Storage">
        select * from storage
        <where>
            <if test="name != null and name != ''">
              and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="goodsByName" resultType="java.lang.Integer">
        select s.id from storage s
        left join goods g ON g.storage = s.id
        where s.name = #{name}
    </select>

    <select id="pageAll" resultMap="storageResultMap">
        SELECT
            id, name
        FROM storage
        ORDER BY create_time DESC
    </select>
    <select id="getStorageName" resultType="java.lang.String">
        select s.name from storage s
        <where>
            <if test="begin != null">
                and s.create_time &gt; #{begin}
            </if>
            <if test="end != null">
                and s.create_time &lt; #{end}
            </if>
        </where>
    </select>
    <!-- 定义结果映射 -->
    <resultMap id="storageResultMap" type="com.orchard.entity.Storage">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
</mapper>